<h1> Trading Plus 3 Investors</h1>
<link rel=stylesheet type=text/css href="{{url_for('static',filename='style.css')}}">

<br/>
<br/>

<h2><a href="{{url_for('investors_metrics',investor_name = investors[0])}}">{{investors[0]}}</a></h2>
<br/>
<br/>
<h2><a href="{{url_for('investors_metrics',investor_name = investors[1])}}">{{investors[1]}}</a></h2>    

<br/>
<br/>
<h2><a href="{{url_for('investors_metrics',investor_name = investors[2])}}">{{investors[2]}}</a></h2>
<br/>
<br/>    
<h2><a href="{{url_for('investors_metrics',investor_name = investors[3])}}">{{investors[3]}}</a></h2>
<br/>
<br/>
<h2><a href="{{url_for('investors_metrics',investor_name = investors[4])}}">{{investors[4]}}</a></h2>
<br/>
<br/>
<h2><a href="{{url_for('investors_metrics',investor_name = investors[5])}}">{{investors[5]}}</a></h2>
<br/>
<br/>
<h2><a href="{{url_for('investors_metrics',investor_name = investors[6])}}">{{investors[6]}}</a></h2>
    
<br/>
<br/>
<br/>

<h2><a href ="{{url_for('get_metrics')}}">Metrics</a></h2>